footer {
    background-color: #050D31;
    color:white;

    div {
        max-width: 75rem;
        margin-inline: auto;
        display: grid;
        grid-auto-flow: column;
        padding-block: 70px;
        grid-auto-columns: 1fr;

        ul {
            list-style-type: none;
            text-align: center;
            font-weight: 300;

            .header {
                font-size: 18px;
            }
            li {
                margin-bottom: 14px;
                font-size: 0.9rem;
                
            }
            li:hover{
                cursor: pointer;
            }
        }
    }
}